DEBUG=True
SECRET_KEY_FILE=secrets/django_secret_key.txt
ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=gestion_no_conformidades
DB_USER=portal_nc
DB_PASSWORD_FILE=secrets/postgres_password.txt
DB_HOST=127.0.0.1
DB_PORT=5432
SAC_SEQUENCE_SCOPE=TYPE
REQUIRE_CLOSED_PBI=False
ENABLE_DEMO_DATA=False
MICROSOFT_SSO_ENABLED=False
MICROSOFT_TENANT_ID=ID_DEL_DIRECTORIO_TENANT
MICROSOFT_CLIENT_ID=ID_DE_LA_APLICACION
MICROSOFT_CLIENT_SECRET_FILE=secrets/microsoft_client_secret.txt
MICROSOFT_REDIRECT_URI=http://localhost:8000/cuentas/microsoft/callback/
